* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1em;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background: rgba(49, 89, 112, 0.21);
    backdrop-filter: blur(1rem);
    /* border: 2px solid var(--softwhite); */
    margin-top: auto;
    margin-right: 50px;
    /* border-radius: 100vh; */
}

::-webkit-scrollbar-track:hover {
    box-shadow: inset 0px 0px 10px #909090;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: black;
    border: 2px solid #909090;
    /* border-radius: 100vh; */
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 5px var(--blueGlow);
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    /* width: 100vw; */
    /* height: 100vh; */
    background: #0f0f0f;
    background-image: url('https://ncooper00.github.io/Moon-Phase-Website/starry-night-2.jpg');
    background-repeat: no-repeat;
    background-size: 100vh 100v;
    display: flex;
    /* overflow: hidden; */
    /* overscroll-behavior: hide; */
    /* justify-content: center; */
    font-family: 'Share Tech Mono', monospace;
}

.wonkeySurround {
    position: absolute;
    z-index: -50;
    width: 100px;
    aspect-ratio: 1;
    animation: wonkeySVG 600s infinite;
    /* overflow: hidden; */
    cursor: pointer;
}

.wonkeySVG:hover {

}

@keyframes wonkeySVG {
    0% {
        top: 90vh;
        left: 10vw;
    }
    16.5% {
        top: 25vh;
        left: 76vw;
        width: 80px;
    }
    30% {
        top: 10vh;
        left: 50vw;
        width: 50px;
    }
    40.5% {
        top: 25vh;
        left: 10vw;
    }
    55% {
        top: 90vh;
        left: 65vw;
        width: 125px;
    }
    66.5% {
        top: 50vh;
        left: 76vw;
        width: 135px;
    }
    85% {
        top: 20vh;
        left: 25vw;
        width: 125px;
    }
    100% {
        top: 90vh;
        left: 10vw;
        width: 100px;
    }
}

.navbar {
    position: fixed;
    width: 100vw;
    height: 120px;
    background: hsl(0 0% 100% / 0.05);
    backdrop-filter: blur(1rem);
    display: inline-block;
    z-index: 9999;
    
    /* opacity: 80%; */
    /* border-radius: 0px 0px 1vh 1vh; */
}

/* .navbarHolder {
    max-width: 100%;
    display: flex;
} */

/* .mainLogo {
    width: 65px;
    aspect-ratio: 1;
    position: absolute;
    top: 5%;
    left: 1%;
    border-radius: 50%;
    margin-right: 15px;
} */

/* .moonPhaseHolder {
    position: absolute;
    left:  8%;
    width: fit-content;
    bottom: 5%;
    height: fit-content;
    display: flex;
    align-self: flex-end;
    justify-self: left;
} */

.moonPhase {
    color: white;
    font-size: 4em;
    user-select: none;
    line-height: 120px;
    font-weight: 600;
    padding: 0 100px;
    /* width: max-content; */
}

.navLinks {
    float: right;
    margin-right: 50px;
}

.mainNavLi {
    display: inline-block;
    line-height: 120px;
    margin: 0 15px;
    /* position: absolute; */
    user-select: none;
}

.headerA {
    color: white;
    font-size: 2em;
    text-decoration: none;
    /* position: absolute; */
    transition: all 250ms;
    cursor: pointer;
    user-select: none;
}

a:hover, a:active {
    border: 2px white;
    border-style: none none solid none;
}

.home[aria-expanded="true"] {
    border: 2px white;
    border-style: none none solid none;
}

.merch[aria-expanded="true"] {
    border: 2px white;
    border-style: none none solid none;
}

.options[aria-expanded="true"] {
    border: 2px white;
    border-style: none none solid none;
}

.checkBtn {
    font-size: 3em;
    color: white;
    float: right;
    line-height: 120px;
    margin-right: 60px;
    cursor: pointer;
    display: none;
}

.optionCheckBtn {
    width: 100%;
    height: 100%;
    display: none;
}

.hamMenu {
    width: 30px; 
    aspect-ratio: 1; 
    color: white;
}

#check {
    display: none;
}

.optionMenu[aria-expanded="true"] {
    right: 0;
}

.optionMenu {
    position: fixed;
    /* float: right; */
    width: 200px;
    
    top: 120px;
    right: -100%;
    /* display: inline-block; */
    padding: 20px 0px 10px 0px;
    text-align: right;
    background: hsl(0 0% 100% / 0.05);
    backdrop-filter: blur(2px);
    transition: all 500ms ease;
}

.optionLi {
    line-height: 2.5em;
    margin-right: 20%;
}

.optionBtn {
    color: rgb(214, 214, 214);
    font-size: 1.1em;
}

.bodyydob {
    width: 100vw;
    height: 100vh;
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden; */
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.pageCloud {
    /* width: 100%; */
    /* aspect-ratio: 100 / 10; */
    position: absolute;
    left: -29%;
    /* top: 100%; */
}

.page2 {
    flex-direction: column;
}

.moonWheel {
    position: absolute;
    width: 25px;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* transform: rotate(113.5deg); */
    transition: transform 1s;
}

.outerMoon {
    flex: none;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;
    opacity: 0;
    margin-top: 55%;
    transition: opacity 500ms ease-in-out;
    transition-delay: 100ms;
}

.moonStats {
    width: max(10vw, 135px);
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    /* justify-self: center; */
    /* align-self: center; */
    font-size: 1.25em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: moonStatus 3s;
    line-height: 1;
    user-select: none;
    transition: width 500ms ease-in-out;
    z-index: 2;
    /* animation-delay: 2.4s; */
}

.moonStatus {
    width: min-content;
    max-height: min-content;
    /* vertical-align: middle; */
}

@keyframes moonStatus {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 100;}
}

.moonSVG {
    position: relative;
    top: 5%;
    width: min-content;
    aspect-ratio: 1;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: box-shadow 500ms ease-in-out;
    /* background-color: red; */
}

.moonSVG:hover {
    box-shadow: inset 0px 0px 90px 90px #000000;
}

.moonSVG:hover .moonStats {
    width: max(8vw, 80px);
}

.moonSVG:hover .moonPhases {
    padding: 75px;
    box-shadow: 0px 0px 20px 10px white;
}

.moonSVG:hover .outerMoon {
    opacity: 100;
}

.moonPhases {
    width: min(600px, 80vw);
    aspect-ratio: 1;
    border: 15px solid black;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 50px 10px ;
    animation: moonphases 2.5s;
    transition: padding 500ms ease-in-out, box-shadow 500ms ease-in-out;
    /* z-index: 3; */
}

/* .moonPhases:hover {
    padding: 75px;
} */

/* .moonPhases:hover .outerMoon {
    opacity: 100;
} */

@keyframes moonphases {
    0% {transform:rotate(0deg);
    width: 0px;
    border: none;}
    80% {transform:rotate(360deg);
    border: none;}
    100% {transform:rotate(0deg);}
}

.moonHolder {
    display: grid;
    align-self: center;
}

.moon {
    position: relative;
    aspect-ratio: 1;
    width: 100px;
    border-radius: 50%;
    background: gray;
    grid-row: 1;
}

.merchHeader {
    /* position: relative; */
    font-size: 8vw;
    color: white;
    /* width: 100%; */
    /* flex-direction: column; */
    /* bottom: 10%; */
    margin-bottom: 50px;
}

.comingSoon {
    font-size: 2.5vw;
    color: white;
    flex-wrap: wrap;
}

.waveLayers {
    position: absolute;
    opacity: 30%;
}




@media screen and (max-width: 1000px) {
    .moonPhase {
        color: white;
        font-size: 3em;
        cursor: pointer;
        user-select: none;
        line-height: 120px;
        font-weight: 600;
        padding: 0 50px;
        /* flex: none; */
        /* width: max-content; */
    }
    .headerA {
        color: white;
        font-size: 1.75em;
        text-decoration: none;
        /* position: absolute; */
    }
    .checkBtn {
        font-size: 3em;
        color: white;
        float: right;
        line-height: 120px;
        margin-right: 60px;
        cursor: pointer;
        display: none;
    }
    
    .hamMenu {
        width: 30px; 
        aspect-ratio: 1; 
        color: white;
    }
    
    #check {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .moonPhase {
        color: white;
        font-size: 3em;
        cursor: pointer;
        user-select: none;
        line-height: 120px;
        font-weight: 600;
        padding: 0 50px;
        /* flex: none; */
        /* width: max-content; */
    }
    .checkBtn {
        font-size: 3em;
        color: white;
        float: right;
        line-height: 120px;
        margin-right: 60px;
        cursor: pointer;
        display: block;
    }
    
    .hamMenu {
        width: 30px; 
        aspect-ratio: 1; 
        color: white;
    }
    
    #check {
        display: none;
    }
    .navLinks {
        position: fixed;
        width: 100%;
        height: 300%;
        background: hsl(0 0% 0% / .85);
        backdrop-filter: blur(1rem);
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all 500ms;
    }
    .mainNavLi {
        display: block;
        line-height: 100px;
    }
    .headerA {
        font-size: 2em;
    }
    a:hover, a:active {
        background: none;
        color: #3a80b9;
    }
    #check:checked ~ ul {
        left: 0;
    }
    body[aria-expanded="false"] .optionMenu {
        top: 420px;
    }
    .optionMenu[aria-expanded="true"] {
        position: fixed;
        /* left: 32.5%; */
        /* display: inline-block; */
        align-items: center;
        justify-content: center;
        right: 0;
    }
    
    .optionMenu {
        position: fixed;
        /* float: center; */
        width: 100%;
        height: fit-content;
        /* flex-wrap: wrap; */
        
        top: 420px;
        right: -100%;
        /* display: inline-block; */
        padding: 5px 0px 5px 0px;
        text-align: center;
        background: hsl(0 0% 0% / .5);
        backdrop-filter: none;
        transition: all 500ms ease;
        z-index: 9999;
    }

    /* .optionLinks {

    } */
    
    .optionLi {
        line-height: 2em;
        margin-right: 0%;
        display: inline-block;
        padding: 0 5px;
    }
    
    .optionBtn {
        color: rgb(214, 214, 214);
        font-size: 1.1em;
    }
    .github {
        border-left: 2px solid white;
        border-right: 2px solid white;
        padding: 0 8px;
    }
    .discord:active {
        border-bottom: 2px solid white;
    }
    .github:active {
        border-bottom: 2px solid white;
    }
    .contact:active {
        border-bottom: 2px solid white;
    }
}

@media screen and (max-width: 600px) {
    .moonPhase {
        color: white;
        font-size: 2.5em;
        cursor: pointer;
        user-select: none;
        line-height: 120px;
        font-weight: 600;
        padding: 0 25px;
        /* flex: none; */
        /* width: max-content; */
    }
}

@media screen and (max-width: 300px) {
    
}