.page {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.page2 {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    column-gap: 45%;
}

.page2Head {
    font-size: 3.5rem;
    position: absolute;
    color: white;
    margin-top: 10%;
    padding-bottom: 5px;
    margin-left: 5%;
    border-bottom: 2px solid white;
}

.randomizeSolar {
    position: absolute;
    right: -20%;
    top: 15%;
    width: 50px;
    aspect-ratio: 1;
    background-image: url('https://ncooper00.github.io/Moon-Phase-Website/icons/dice.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.randomizeSolar:hover {
    width: 50px;
    /* box-shadow: 0px 0px 5px white; */
    animation: diceHover 6s infinite;
}

@keyframes diceHover {
    0% {
        transform: translateY(0px);
    }
    5% {
        transform: translateY(3px);
    }
    10% {
        transform: translateY(6px);
        transform: rotate(5deg);
    }
    15% {
        transform: translateY(6px);
        transform: rotate(-5deg);
    }
    20% {
        transform: translateY(6px);
        transform: rotate(5deg);
    }
    25% {
        transform: translateY(6px);
        transform: rotate(-5deg);
    }
    30% {
        transform: translateY(6px);
        transform: rotate(5deg);
    }
    35% {
        transform: translateY(6px);
        transform: rotate(-5deg);
    }
    50% {
        transform: translateY(-2px);
        transform: rotate(0deg);
    }
    55% {
        transform: translateY(6px);
        transform: rotate(-15deg);
    }
    60% {
        transform: translateY(6px);
        transform: rotate(15deg);
    }
    65% {
        transform: translateY(6px);
        transform: rotate(-15deg);
    }
    70% {
        transform: translateY(6px);
        transform: rotate(15deg);
    }
    75% {
        transform: translateY(6px);
        transform: rotate(-15deg);
    }
    80% {
        transform: translateY(6px);
        transform: rotate(15deg);
    }
    100% {
        transform: translateY(0px);
        transform: rotate(0deg);
    }

}

.randomizeSolar:active {
    animation: diceHover 6s infinite;
}

.orderSolar {
    position: absolute;
    right: -40%;
    top: 15%;
    width: 50px;
    aspect-ratio: 1;
    background-image: url('https://ncooper00.github.io/Moon-Phase-Website/icons/order.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.orderSolar:hover {
    width: 50px;
    /* box-shadow: 0px 0px 5px white; */
    animation: diceHover 6s infinite;
}

@keyframes diceHover {
    0% {
        transform: translateY(0px);
    }
    5% {
        transform: translateY(3px);
    }
    10% {
        transform: translateY(6px);
        transform: rotate(5deg);
    }
    15% {
        transform: translateY(6px);
        transform: rotate(-5deg);
    }
    20% {
        transform: translateY(6px);
        transform: rotate(5deg);
    }
    25% {
        transform: translateY(6px);
        transform: rotate(-5deg);
    }
    30% {
        transform: translateY(6px);
        transform: rotate(5deg);
    }
    35% {
        transform: translateY(6px);
        transform: rotate(-5deg);
    }
    50% {
        transform: translateY(-2px);
        transform: rotate(0deg);
    }
    55% {
        transform: translateY(6px);
        transform: rotate(-15deg);
    }
    60% {
        transform: translateY(6px);
        transform: rotate(15deg);
    }
    65% {
        transform: translateY(6px);
        transform: rotate(-15deg);
    }
    70% {
        transform: translateY(6px);
        transform: rotate(15deg);
    }
    75% {
        transform: translateY(6px);
        transform: rotate(-15deg);
    }
    80% {
        transform: translateY(6px);
        transform: rotate(15deg);
    }
    100% {
        transform: translateY(0px);
        transform: rotate(0deg);
    }

}

.orderSolar:active {
    animation: diceHover 6s infinite;
}

.planet {
    cursor: pointer;
    transition: all 500ms;
}

.outerRing {
    /* position: absolute; */
    /* grid-column: 2; */
    margin-top: 18%; 
    position: relative;
    aspect-ratio: 1;
    align-self: center;
    /* bottom: 15%; */
    top: -12%;
    left: 50%;
    width: 40vw;
    /* background-color: black; */
    box-shadow: inset 0px 0px 100vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.ring {
    transition: transform 5s;
}

.innerRing1 {
    position: absolute;
    aspect-ratio: 1;
    border: 1px solid white;
    width: 32.5vw;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plutoRot {
    height: 100%;
    width: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Pluto {
    position: absolute;
    aspect-ratio: 1;
    width: .3vw;
    background-color: #51dcff;
    border-radius: 50%;
    top: -.5%;
}

.Pluto:hover {
    position: absolute;
    aspect-ratio: 1;
    width: 0.8vw;
    background-color: #51dcff;
    border-radius: 50%;
    top: -1%;
}

.innerRing2 {
    position: absolute;
    aspect-ratio: 1;
    border: 1px solid white;
    width: 27.5vw;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neptuneRot {
    height: 100%;
    width: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Neptune {
    position: absolute;
    aspect-ratio: 1;
    width: .9vw;
    background-color: #3cc5e7;
    border-radius: 50%;
    top: -1.5%;
}

.Neptune:hover {
    position: absolute;
    aspect-ratio: 1;
    width: 1.4vw;
    background-color: #3cc5e7;
    border-radius: 50%;
    top: -2%;
}

.innerRing3 {
    position: absolute;
    aspect-ratio: 1;
    border: 1px solid white;
    width: 22.5vw;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uranusRing {
    position: absolute;
    aspect-ratio: 1;
    top: -3%;
    width: 1.5vw;
    border-radius: 50%;
    border: 2px outset rgb(79, 214, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}

.uranusRing:hover {
    position: absolute;
    aspect-ratio: 1;
    top: -3.5%;
    width: 2vw;
    border-radius: 50%;
    border: 2px outset rgb(79, 214, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.uranusRot {
    height: 100%;
    width: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Uranus {
    /* position: absolute; */
    aspect-ratio: 1;
    width: .9vw;
    background-color: #41d3ff;
    border-radius: 50%;
    top: -4%;
}

.uranusRing:hover .Uranus {
    /* position: absolute; */
    aspect-ratio: 1;
    width: 1.4vw;
    background-color: #41d3ff;
    border-radius: 50%;
    top: -4%;
}

.innerRing4 {
    position: absolute;
    aspect-ratio: 1;
    border: 1px solid white;
    width: 17.5vw;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saturnRing {
    position: absolute;
    aspect-ratio: 1;
    top: -5%;
    width: 2vw;
    border-radius: 50%;
    border: 2px outset rgb(228, 192, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}

.saturnRing:hover {
    position: absolute;
    aspect-ratio: 1;
    top: -5.5%;
    width: 2.5vw;
    border-radius: 50%;
    border: 2px outset rgb(228, 192, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}

.saturnRot {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Saturn {
    /* position: absolute; */
    aspect-ratio: 1;
    width: 1.25vw;
    background-color: #cf9b6a;
    border-radius: 50%;
    top: -4%;
}

.saturnRing:hover .Saturn {
    /* position: absolute; */
    aspect-ratio: 1;
    width: 1.75vw;
    background-color: #cf9b6a;
    border-radius: 50%;
    top: -4%;
}

.innerRing5 {
    position: absolute;
    aspect-ratio: 1;
    border: 1px solid white;
    width: 12.5vw;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jupiterRot {
    height: 100%;
    width: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Jupiter {
    position: absolute;
    aspect-ratio: 1;
    width: 1.3vw;
    background-color: #68401b;
    border-radius: 50%;
    top: -4%;
}

.Jupiter:hover {
    position: absolute;
    aspect-ratio: 1;
    width: 1.8vw;
    background-color: #68401b;
    border-radius: 50%;
    top: -5%;
}

.innerRing6 {
    position: absolute;
    aspect-ratio: 1;
    border: 1px solid white;
    width: 10vw;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marsRot {
    height: 100%;
    width: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Mars {
    position: absolute;
    aspect-ratio: 1;
    width: .55vw;
    background-color: #ff4912;
    border-radius: 50%;
    top: -2.5%;
}

.Mars:hover {
    position: absolute;
    aspect-ratio: 1;
    width: 1.05vw;
    background-color: #ff4912;
    border-radius: 50%;
    top: -4%;
}

.innerRing7 {
    position: absolute;
    aspect-ratio: 1;
    border: 1px solid white;
    width: 7.5vw;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.venusRot {
    height: 100%;
    width: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Venus {
    position: absolute;
    aspect-ratio: 1;
    width: .55vw;
    background-color: #be9c70;
    border-radius: 50%;
    top: -4%;
}

.Venus:hover {
    position: absolute;
    aspect-ratio: 1;
    width: 1.05vw;
    background-color: #be9c70;
    border-radius: 50%;
    top: -6.5%;
}

.innerRing8 {
    position: absolute;
    aspect-ratio: 1;
    border: 1px solid white;
    width: 5vw;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mercuryRot {
    height: 100%;
    width: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Mercury {
    position: absolute;
    aspect-ratio: 1;
    width: .5vw;
    background-color: #ffa939;
    border-radius: 50%;
    top: -4.5%;
}

.Mercury:hover {
    position: absolute;
    aspect-ratio: 1;
    width: 1vw;
    background-color: #ffa939;
    border-radius: 50%;
    top: -9.5%;
}

.Sun {
    position: absolute;
    aspect-ratio: 1;
    /* border: 2px solid white; */
    width: 2vw;
    background-color: #ff932d;
    border-radius: 50%;
    box-shadow: 0px 0px 500px 20px #ffb62e,
    0px 0px 20px rgb(255, 255, 255);
}

.Sun:hover {
    position: absolute;
    aspect-ratio: 1;
    /* border: 2px solid white; */
    width: 3vw;
    background-color: #ff932d;
    border-radius: 50%;
    box-shadow: 0px 0px 500px 20px #ffb62e,
    0px 0px 20px rgb(255, 255, 255);
}






.earthRot {
    height: 100%;
    width: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.earthRing {
    position: absolute;
    aspect-ratio: 1;
    top: -8%;
    width: 1.5vw;
    border-radius: 50%;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Earth {
    position: absolute;
    aspect-ratio: 1;
    width: .75vw;
    background-color: #00bd55;
    border-radius: 50%;
    z-index: 2;
}

.Earth:hover {
    position: absolute;
    aspect-ratio: 1;
    width: 1.25vw;
    background-color: #00bd55;
    border-radius: 50%;
}

.moonRot {
    height: 100%;
    width: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Moon {
    position: absolute;
    aspect-ratio: 1;
    width: .1vw;
    background-color: #C4C4C4;
    border-radius: 50%;
    top: -10%;
}

.Moon:hover {
    position: absolute;
    aspect-ratio: 1;
    width: .6vw;
    background-color: #C4C4C4;
    border-radius: 50%;
    top: -20%;
}